<%= simple_form_for @post do |f| %>
  <h3>Post Name</h3>
  <h3><%= f.input_field :title %></h3>
  <br>
  <h4>Post Content</h4>
  <%= f.input :content, label: false, as: :rich_text_area %>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
